body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Tùy chỉnh màu nền */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 50px auto;
    max-width: 400px;
}

h1 {
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #007bff;
}

#message {
    margin-top: 20px;
}

#random-text {
    margin-top: 20px;
}
