body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.file-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.file-box:hover {
    transform: translateY(-5px);
}

.file-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.file-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.file-description h2 {
    font-size: 18px;
    margin: 0;
}

.file-description p {
    margin: 0 0 10px;
}

.download-button {
    background-color: #ffcc00; /* Đổi màu nút thành màu vàng */
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

@media (max-width: 768px) {
    .file-box {
        flex-basis: 50%; /* 2 tệp 1 hàng trên điện thoại */
    }
}

@media (min-width: 769px) {
    .file-box {
        flex-basis: 20%; /* 5 tệp 1 hàng cho máy tính */
    }
}
